* {
  box-sizing: border-box;
}

header {
  background-color: #666;
  padding: 5px;
  text-align: left;
  font-size: 15px;
  color: white;
}

body {
  font-family: Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:5%;
  padding-right:5%;
  }

.left {
  float: left;
  width: 320px;
  background: #ccc;
  padding-right: 40px;
  padding-left:20px;
}

img {

  max-width: 30%;
  min-width: 20px;
  height:auto;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;

}
img3 {

  max-width: 30%;
  min-width: 10px;
  height:auto;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;
}


article {
  color: #C2C0C0;
  padding-top:10px;
  padding-right: 10px;
  padding-left:10px;
  padding-bottom:2%;
  text-align: justify;
  width: 99%;
  background-color: #040404;
}



footer {
  background-color: #777;
  padding-top: 10px;
  padding-bottom: 5%;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of
each other instead of next to each other, on small screens */
@media (max-width: 700px) {
  nav, article, p, caption {
    width: 99%;
    height: auto;
  }
}