* {
  box-sizing: border-box;
  width:98%;
}

body {
  font-family: garamond, georgia, sans-serif;
  padding-left:1px;
  background-color:black;
  font-size:24px;
  text-align:justify;
}

header {
  background-color: #666;
  padding: 1px;
  text-align: left;
  font-size: 15px;
  color: white;
}





.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.left {
  float: left;
  width: 320px;
  background: #ccc;
  padding-right: 20px;
  padding-left:10%;
}

img {

  max-width: 70%;
  min-width: 20%;
  height:auto;
  background: #666;
  padding-left: 0px;
  padding-bottom: 0px;

}

h3{
padding-left:1%;
margin:0px 0px;
font-size:24px;
}


p {
  padding-left:15px;
  font-size:24px;
  font-family: courier;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

#more {display: none;background:#E6DFBD}
#more2 {display: none;background:#E6DFBD}

button{
background:grey;
color:white;
}

table, th, td {
  border:1px solid white;
  font-family: courier;
  font-size: 18px;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}



footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of
each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, p, caption {
    width: 100%;
    height: auto;
  }
}




article {
  color: #C2C0C0;
  padding-top:10px;
  padding-bottom:2%;
  text-align: justify;
  width: 98%;
  background-color: "black";
}