* {
  box-sizing: border-box;
}

header {
  background-color: #666;
  padding: 5px;
  text-align: left;
  font-size: 15px;
  color: white;
}

body {
  font-family: Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

img {

  max-width: 30%;
  min-width: 20px;
  height:auto;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;

}


article {
  color: #C2C0C0;
  padding-top:10px;
  padding-right: 1px;
  padding-left:1px;
  padding-bottom:2%;
  text-align: justify;
  width: 97%;
  background-color: #040404;
}


/* Responsive layout - makes the two columns/boxes stack on top of
each other instead of next to each other, on small screens */
@media (max-width: 1280px) {
  nav, article, p, caption {
    width: 100%;
    height: auto;
  }
}